.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  padding: 8px;
  background-color: #3febb7;
  color: #050747;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 999;
  min-width: 10rem;
  max-width: 30rem;
  text-align: center;
}

.tooltip-top {
  transform-origin: bottom center;
  margin-bottom: 1.5rem;
}

.tooltip-bottom {
  transform-origin: top center;
  margin-top: 1.5rem;
  
}

.tooltip-right {
  transform-origin: left center;
  margin-left: 1.5rem;
}

.tooltip-left {
  transform-origin: right center;
  margin-right: 1.5rem;
}
.tooltip-top::after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 1rem #e15915;
    border-left: solid 1rem transparent;
    border-right: solid 1rem transparent;
}
.tooltip-right::after {
    content:'';
    position: absolute;
    top: 20%;
    left: -10%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 1rem transparent;
    border-bottom: solid 1rem transparent;
    border-right: solid 1rem #e15915;
}
.tooltip-left::after {
    content:'';
    position: absolute;
    top: 20%;
    right: -10%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 1rem transparent;
    border-bottom: solid 1rem transparent;
    border-left: solid 1rem #e15915;
}
.tooltip-bottom::after {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 1rem #e15915;
    border-left: solid 1rem transparent;
    border-right: solid 1rem transparent;
}